.header {
  text-align: center;
  font-size: 40px;
  margin: 15px;
  border: 2px dashed red;
}

.header h2 {
  font-size: 20px;
  margin: 10px;
}

.navigation {
  border: 2px dashed yellow;
}

.footer {
  border: 2px dashed purple;
}

.content {
  border: 2px dashed blue;
}